* {
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 980px;
  height: 697px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.bg {
  width: 100%;
}

.header-info {
  position: absolute;
  top: 21px;
}

.last-reward {
  top: 68px;
  left: 514px;
  color: red;
  font-size: 23px;
  text-shadow: 1px 1px 5px #000;
}

.my-expected-reward {
  position: absolute;
  right: 864px;
  top: 577px;
  font-size: 26px;
}

.round-num {
  width: 56px;
  font-size: 36px;
  left: 78px;
  top: 18px;
  text-align: center;
  text-shadow: 2px 2px 5px #F5C583;
  color: #2A1600;
}

.reward {
  left: 490px;
  font-size: 32px;
}

.yellow-gradient {
  color: #FFD454;
  text-shadow: 0px 2px 10px #7C3E00;
}

.countdown {
  left: 818px;
  top: 21px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px #2F6B60;
}

.ended-countdown {
  text-align: center;
}

.ended-text {
  font-size: 16px;
  line-height: 1.8rem;
}

.btn-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 17px;
  top: 108px;
  color: white;
  justify-content: space-between;
  height: 488px;
  width: 140px;
}

.btn {
  cursor: pointer;
  width: 130px;
  position: absolute;
  right: 0;
}

.btn-seed {
  top: 36px;
}

.btn-kettle {
  top: 188px;
}

.btn-shovel {
  top: 348px;
}

.selected {
  background: url(images/bg-tree-selected.png) no-repeat;
  background-size: contain;
}

.field {
  position: absolute;
  cursor: pointer;
}

.field-tree {
  width: 193px;
}

.field-0,
.field-1,
.field-2 {
  top: 90px;
}

.field-3,
.field-4,
.field-5 {
  top: 260px;
}

.field-6,
.field-7,
.field-8 {
  top: 430px;
}

.field-0,
.field-3,
.field-6 {
  left: 253px;
}

.field-1,
.field-4,
.field-7 {
  left: 425px;
}

.field-2,
.field-5,
.field-8 {
  left: 596px;
}

.tree-kettle-level {
  position: absolute;
  top: 22px;
  right: 0;
}

.tree-kettle-icon {
  width: 40px;
  position: absolute;
  right: 14px;
}

.tree-kettle-time {
  position: absolute;
  top: -6px;
  right: 16px;
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;
}

.tree-kettle-num {
  position: absolute;
  top: 132px;
  left: -116px;
  color: white;
  font-size: 16px;
}

.hide {
  display: none;
}

.btn-text {
  text-shadow: #000 0 0 2px;
  color: white;
  font-size: 23px;
}

.main-btn {
  width: 175px;
}

.withdraw-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 18px;
}

.withdraw-btn-text {
  position: absolute;
  top: 13px;
  color: #FFAA36;
  width: 100%;
}

.vip-btn {
  cursor: pointer;
  position: absolute;
  top: 84px;
  left: 18px;
}

.vip-btn-text {
  position: absolute;
  top: 13px;
  color: #FFAA36;
  width: 100%;
}

.rule-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rule-btn-text {
  position: absolute;
  width: 100%;
  top: 11px;
}
.rule-btn-text a {
  color: white;
}

.price {
  position: absolute;
  width: 100%;
}

.seed-price {
  top: 150px;
}

.kettle-price {
  top: 303px;
}

.shovel-price {
  top: 462px;
}

.btn-disabled {
  opacity: 0.3;
  cursor: initial;
}

.modal-overlay {
  background: none;
}

.modal {
  max-width: 1280px;
  border-radius: 20px;
  background: rgba(55, 59, 9, 0.8);
  border-radius: 20px;
  border: 1px solid #333;
  text-align: center;
  padding: 2.5rem 2.5rem 0.5rem;
}

.modal-ended {
  background: none;
  color: white;
  font-size: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.modal-btn {
  width: 175px;
  position: relative;
  cursor: pointer;
  bottom: 10px;
  margin: auto;
}

.modal-btn-big {
  width: 220px;
  height: 64px;
}

.modal-btn-big .modal-btn-bg {
  width: 220px;
  height: 70px;
}

.modal-btn-big .modal-btn-text {
  line-height: 62px;
}

.modal-btn-disabled .modal-btn-bg {
  opacity: 0.3;
}

.modal-btn-disabled .modal-btn-text {
  color: #aaa;
  cursor: initial;
}

.modal-btn-text {
  position: absolute;
  top: 0;
  line-height: 59px;
  width: 100%;
}

.modal-body {
  font-size: 21px;
  color: white;
  text-shadow: 2px 2px 2px #2F6B60;
  font-weight: bold;
  margin: 40px auto;
}

.kettle-input-container {
  display: flex;
  justify-content: space-around;
}

.kettle-input {
  background: url('images/bg-input.png') no-repeat;
  border: none;
  background-size: contain;
  width: 60px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.kettle-input:focus {
  outline: none;
}

.kettle-input-btn {
  cursor: pointer;
}

.btn-substract {

}
.btn-add {

}

.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}

.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}

.vip-content {
  position: relative;
  top: -15px;
}

.buy-vip-container {
  min-width: 230px;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.4);
  padding: 6px;
  margin: 4px;
  border-radius: 8px;
}
.buy-vip-container.vip-selected {
  border: 1px solid #FFAA36;
}

.buy-vip-body {
  display: flex;
  font-size: 16px;
}
.buy-vip-item {
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin: 8px 5px;
  padding: 10px;
  border-radius: 8px;
}
